# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.venv_linux/
*.db
.npm/
.ssh/
.gitconfig
.wget-hsts
.lesshst
.bash_history

# Node / Next.js
node_modules/
.next/
out/
dist/
*.log

# OS / IDE
.DS_Store
.vscode/
.idea/
WORKFLOW.md

# Secrets
.env
.env.local
env/.env.dev
env/.env.prod
!env/env.example
